<form id="edit-question-form">
  <label for="question-title">Title:</label>
  <textarea id="question-title" name="question[title]"><%= @question.title %></textarea>
  <br>
  <label for="question-question">Question:</label>
  <textarea id="question-question" name="question[question]"><%= @question.question %></textarea>
  <br>
  <input class="post-question-button" type="submit" value="Save Edits" />
  <a class="cancel" href='/questions/:id'>cancel</a>
</form>
