<form id="new-question-form" action='/questions' method='post'>
  <label for="question-title">Title:</label>
  <textarea id="question-title" name="question[title]" cols="60"></textarea>
  <br>
  <label for="question-question">Question:</label>
  <textarea id="question-question" name="question[question]" rows="8" cols="60"></textarea>
  <br>
  <input class="btn-primary" type="submit" value="Post Your Question" />
</form>
