<form id="new-question-form" action='/questions' method='post'>
  <label for="question-title">Title:</label>
  <textarea class="form-control" id="question-title" name="question[title]"></textarea>
  <br>
  <label for="question-question">Question:</label>
  <textarea class="form-control" id="question-question" name="question[question]" rows="8"></textarea>
  <br>
  <input class="btn-primary" type="submit" value="Post Your Question" />
</form>
