<form id="new-question-form" action='/questions' method='post'>
  <label for="question-title">Title:</label>
  <textarea id="question-title" name="question[title]"></textarea>
  <br>
  <label for="question-question">Question:</label>
  <textarea id="question-question" name="question[question]"></textarea>
  <br>
  <input class="post-question-button" type="submit" value="Post Your Question" />
</form>
