<%= @errors unless @errors.nil? %>

<h2> Log In: </h2>
<form action='/users/login' method='post'>
  <label>Email: </label>
  <input type="email" name="user[email]"></br>
  <label>Password: </label>
  <input type="password" name="user[password]"></br> </br>
  <button type="submit" class="btn btn-default">Log In!</button>
</form>