<div class="comment-on-commentable">
  <a href="#">Comment on this</a>
  <form class="comment-form" method="POST" action="<%=new_comment_url(commentable) %>">
    <label>Comment:
      <input name="comment[comment]" placeholder="Your comment here">
    </label>
    <br>
    <input class="btn-primary" type="submit" value="Post Your Comment" />
  </form>
</div>
