<nav>
  <% if logged_in? %>
    <ul class="nav-links">
      <li class="nav-li"><a href="/users/<%= @user.id %>/profile"><%=@user.username%></a></li>
      <li class="nav-li"><a href="/users/logout">Logout</a></li>
      <li class="nav-li"><a href="/">Home</a></li>
    </ul>
  <% else %>
    <ul class="nav-links">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="/users/new">Create Account</a></li>
      <li class="nav-li"><a href="/users/login">Log In</a></li>
    </ul>
  <% end %>
</nav>
