
  <form action="/answers" method="post" id="new-answer-form">
    <label for="answer[answer]"></label>
    <input class="form-control" name="answer[answer]" placeholder="answer"></input>
    <input type="hidden" name="answer[question_id]" value="<%=@question.id%>">
    <input type="hidden" name="answer[user_id]" value="<%=session[:id]%>">
    <br>
    <input class="btn-primary" type="submit"></input>
  </form>

