
<h1>Welcome yall!!!</h1>
<div>
  <% if !logged_in? %>
    <h2> DBC Overflow! </h2>
  <% end %>

  <ul class=container container-table>
    <% @users.each do |user| %>
      <li><a href="/users/<%=user.id%>/profile"><%= user.username.capitalize %></a> </li>
    <% end %>
  </ul>
</div>