
<div>
  <ul class="container container-table">
    <span class="glyphicon glyphicon-question-sign">Questions:</span>
    <% @questions.each do |question| %>
      <li><a class="list-group-item"href="/questions/<%=question.id%>"><%= question.title.capitalize %></a> </li>
    <% end %>
  </ul>
</div>
